/* Navigation Button */
.button {
	font-weight: 400;
	display: inline-block;
	width: 140px;
	
	padding: 12px 16px;
	transition: all 200ms ease;
	text-align: center;
}

.button:hover {
	transform: scale(105%);
}

.navigation-button {
	white-space: nowrap;

	text-decoration: none;
	color: var(--global-text-color);

	border-width: 2px;
	border-style: solid;

	border-image: linear-gradient(to top, var(--background-lighter) 5%, rgba(0, 0, 0, 0) 20%) 1;
	background-color: rgba(var(--background-light), 0);
}

.navigation-button:hover {

	border-image: linear-gradient(to top, var(--background-lightest) 100%, rgba(0, 0, 0, 0) 100%) 1;
	background-color: var(--button-color-hovered);

	filter: drop-shadow(0 0 32px rgba(255, 255, 255, 0.5));
}

.contact-btn {
	transition: all 200ms ease;
	white-space: nowrap;

	text-decoration: none;
	color: var(--global-text-color);

	border: 2px solid var(--background-lighter);
	background-color: var(--background-light);
}

.contact-btn:hover {

	border: 2px solid var(--background-lightest);
	background-color: var(--background-lighter);
}