@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: normal;
}