:root {
	/* ========================================= */
	/* 				Site Settings				 */
	/* ========================================= */

	--version: "v1.1";

	/* Background Colors */
	--background-darker: rgb(0, 23, 31);
	--background-regular: rgb(0, 52, 89);
	--background-light: rgb(0, 126, 167);
	--background-lighter: rgb(0, 168, 232);
	--background-lightest: rgb(0, 218, 255);

	/* Button Colors */
	--button-color: rgba(0, 168, 232, 1);
	--button-color-hovered: rgba(0, 168, 232, 0.25);
	--button-color-pressed: rgba(0, 168, 232, 1);

	/* Text Colors */
	--global-text-color: rgba(255, 255, 255, 1);

	--headline-color: rgba(255, 255, 255, 1);

	/* Typography Settings */
	--global-font-size: 16px;
	--global-font-family: "Rubik", sans-serif;
	--global-font-weight: 400;

	--h1-font-family: "Rubik", sans-serif;
	--h1-font-color: rgba(255, 255, 255, 1);

	--h2-font-family: unset; /* <-- Inherit from h1 if unset */
	--h3-font-family: unset; /* <-- Inherit from h2 if unset */

	--p-font-family: unset; /* <-- Inherit from global if unset */
	--a-font-family: unset; /* <-- Inherit from global if unset */
}

* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	font-family: var(--global-font-family);
	font-weight: 400;

	color: var(--global-text-color);
	background-color: var(--background-light);
}

h1 {
	/* Set font-family to h1-font native.
	Fallback to global-font if h1-font is unset */
	font-family: var(--h1-font-family, var(--global-font-family));
	color: var(--headline-color);
}

h2 {
	/* Set font-family to h2-font native.
	Fallback to h1-font if h2-font is unset */
	font-family: var(--h2-font-family, var(--h1-font-family));
	color: var(--headline-color);
}

h3 {
	font-family: var(--h3-font-family, var(--h2-font-family));
	color: var(--headline-color);
}

p {
	font-family: var(--p-font-family, var(--global-font-family));
	color: var(--headline-color);
}

a {
	font-family: var(--a-font-family, var(--global-font-family));
}

/** Notes **/
/*
	@TODO: Add 'Bugs I've encountered during the making this website'"
	Bug-list:{
		Image stuttering -> Image moves away from cursor resetting hover state.
	}
 */