header {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: linear-gradient(90deg, #00171f 60%, #003459 60%);
}

.header--nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: rgba(0, 0, 0, 0.3);
}

.header--nav-bar h1 {
	font-weight: 400;
	padding: 1rem 2rem;

}

.header--nav-bar nav {
	display: flex;
	flex-wrap: wrap;
	margin: 24px;
	gap: 16px 32px;
}

.header--overview {
	display: flex;
	align-items: center;
	flex-grow: 1;

	flex-wrap: wrap;
	justify-content: center;
	gap: 5%;
}

.header--overview-leftside, .header--overview-rightside {
	display: flex;
}

/* Left Side */
.version-number {
	font-size: 16px;
	position: absolute;
	top: 98%;
	left: 0;
}

.version-number::before {
	content: var(--version);
	color: #003245;
}

.header--overview-leftside h1 {
	font-size: 16px;
}

.header--overview-leftside h2 {
	font-size: 64px;

}

/* Right Side */
.header--overview-rightside {
	overflow: visible;
}

.header--overview-rightside section {
	display: flex;

	width: 500px;
	height: 600px;
}

.header--overview-rightside section:hover {
	transition: all 200ms ease;
}

.header--overview-image {

	width: 100%;

	margin-left: -100%;

	transition: all 200ms ease;

	background-image: url("https://unsplash.it/500/600");
	background-repeat: no-repeat;

	box-shadow: 32px 32px 32px rgba(0, 0, 0, 0.5);

}

.header--overview-rightside section:hover .header--overview-image {
	transform: translate(-16px, -16px);
	box-shadow: 42px 42px 32px rgba(0, 0, 0, 0.5);
}

.image-offset-border {
	width: 100%;

	margin: 5% -5% -5% 5%;

	pointer-events: none;

	border: 2px solid white;
}